# Pandas Basics in Python
This notebook introduces **Pandas**, a powerful library for data analysis and manipulation.

## 1. Installing and Importing Pandas
To use Pandas, install it using:
```python
pip install pandas
```
Then, import it into your Python script:

In [1]:
import pandas as pd
import numpy as np
print('Pandas imported successfully!')

Pandas imported successfully!

## 2. Creating Pandas Series and DataFrames
A **Series** is a one-dimensional labeled array, and a **DataFrame** is a two-dimensional table.

In [2]:
import pandas as pd
# Creating a Pandas Series
s = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
print('Pandas Series:\n', s)

Pandas Series:
 a    10
b    20
c    30
d    40
dtype: int64

In [ ]:
# Creating a Pandas DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'Salary': [50000, 60000, 70000]}
df = pd.DataFrame(data)
print('Pandas DataFrame:\n', df)

## 3. Reading & Writing Data (CSV, Excel, JSON)
Pandas can read/write data from multiple formats.

In [ ]:
# Reading a CSV file (Example: 'data.csv')
# df = pd.read_csv('data.csv')
# Writing to a CSV file
# df.to_csv('output.csv', index=False)

## 4. Selecting, Filtering & Indexing Data

In [3]:
# Selecting a single column
print(df['Name'])

# Selecting multiple columns
print(df[['Name', 'Salary']])

NameError: name 'df' is not defined

In [ ]:
# Filtering data
filtered_df = df[df['Age'] > 28]
print('Filtered DataFrame (Age > 28):\n', filtered_df)

## 5. Handling Missing Data
Pandas provides methods to handle missing values.

In [ ]:
# Creating a DataFrame with missing values
data_with_nan = {'A': [1, np.nan, 3], 'B': [4, 5, np.nan]}
df_nan = pd.DataFrame(data_with_nan)
print('DataFrame with NaN:\n', df_nan)

# Filling missing values
df_filled = df_nan.fillna(0)
print('Filled NaN with 0:\n', df_filled)

## 6. Sorting & Grouping Data

In [ ]:
# Sorting by Age
df_sorted = df.sort_values(by='Age', ascending=False)
print('Sorted DataFrame:\n', df_sorted)

In [ ]:
# Grouping by a column (Example: Summing salaries by Age)
df_grouped = df.groupby('Age')['Salary'].sum()
print('Grouped Data (Salary by Age):\n', df_grouped)

## 7. Merging & Joining DataFrames

In [ ]:
# Creating another DataFrame
df2 = pd.DataFrame({'Name': ['Alice', 'Bob'], 'Department': ['HR', 'IT']})

# Merging DataFrames on 'Name'
df_merged = pd.merge(df, df2, on='Name', how='inner')
print('Merged DataFrame:\n', df_merged)

## 8. Basic Data Analysis
Pandas provides various functions for analyzing data.

In [ ]:
# Descriptive statistics
print(df.describe())

In [ ]:
# Mean, Correlation, and Unique Values
print('Mean Age:', df['Age'].mean())
print('Correlation:\n', df.corr())
print('Unique Names:', df['Name'].unique())

## Summary
- **Series & DataFrames**: Core data structures.
- **Reading/Writing Data**: Supports CSV, Excel, JSON.
- **Selection & Filtering**: Extract and filter data.
- **Missing Data Handling**: Fill or drop NaN values.
- **Sorting & Grouping**: Organize and summarize data.
- **Merging & Joining**: Combine datasets.
- **Basic Data Analysis**: Compute statistics and insights.